@model Loader.ViewModel.Grade.FacultyVM

@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
    Loader.Service.MasterSetupService f = new Loader.Service.MasterSetupService();

    var facultyselectlist = f.GetStatusListFaculty();
}

<div class="container">
    <div>
        <h4 style="color:#304766; font-size:24px">Add Faculty</h4>
        <br />
    </div>

    <div>
        <div style="box-shadow:10px; width:400px; height:200px;">
            <div style="display:flex; flex-direction: column">
                @Html.HiddenFor(model => model.Fid, new { htmlAttributes = new { @class = "form form-control col-md-4", @id = "Fid", @style = "width:300px; height:40px; font-size:18px" } })
            </div>



            <div style="display:flex; flex-direction: column">
                <label>Faculty Name</label>
                @*<input type="text" class="form form-control col-md-4" id="GradeName" style="width:300px; height:40px; font-size:18px" />*@
                @Html.EditorFor(model => model.FacultyName, new { htmlAttributes = new { @class = "form form-control col-md-4", @id = "FacultyName", @style = "width:300px; height:40px; font-size:18px" } })
            </div>

            <div style="display:flex; flex-direction: column">
                <label>Status</label>
                <select id="StatusId" style="width:300px; height:40px">
                <option>--Select Status--</option>
                <option value="1">Active</option>
                <option value="0">Deactive</option>
            </select>

@*                @Html.DropDownListFor(x => x.StatusId, new SelectList(facultyselectlist, "Value", "Text"), "--Select Status--", new { @class = "form-control", @style = "width:300px; height:40px" })
*@                @Html.ValidationMessageFor(model => model.StatusId, "", new { @class = "text-danger" })
            </div>

            <div style="margin-top:10px">

                <button class="btn  btn-info" id="AddFaculty">Submit</button>
                @Html.ActionLink("Back To List", "FacultySetup", "Master", htmlAttributes: new { @class = "btn btn-sm btn-primary" })
            </div>


        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        $("#AddFaculty").on("click", function (e) {
            e.stopImmediatePropagation();
            debugger;

            const Facultyid = $("#Fid").val();
            const FacultyName = $("#FacultyName").val();
            const StatusId = $("#StatusId").val();

            $.ajax({
                type: "POST",
                url: "/Master/UpdateFaculty",
                data: {Fid:Facultyid, FacultyName: FacultyName, StatusId: StatusId },
                success: function (response) {
                    window.location.href = "/Master/FacultySetup";
                    SuccessAlert("Add Grade Successfully!", 30000)
                }
            })

        })

    })
</script>

